/* 색상 변수 정의 */
:root {
  --background: #f7f7fc;
  --primary-normal: #3869fa;
  --text-normal: #171717;
  --text-alternative: #8a8a8a;
  --label-normal: #828287;
  --label-alternative: #171717;
  --line-normal: #e0e0e2;
  --line-alternative: #171717;
  --kakao-container: #fee500;
  --kakao-symbol: #000000;
  --kakao-label: #000000 0.85;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Pretendard 기본 설정 */
body {
  font-family: "Pretendard", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-normal);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px 30px;
  background-color: var(--background);
  border-bottom: 1px solid var(--line-normal);
  flex: 0 0 auto;
}

.logo {
  width: 80px;
}

.nav {
  display: flex;
  align-items: center;
}

.header-menu {
  margin-left: 68px;
  text-decoration: none;
  color: var(--text-normal);
  font-weight: 400;
  font-size: 22px;
  display: inline-block;
}

.main {
  text-align: center;
  padding: 80px 20px 30px 20px;
  flex: 1 0 auto;
  overflow: auto;
}

.default-title {
  height: 100px;
}

.default-title h1 {
  font-family: "Laundry Gothic", sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin-top: 0px;
  color: var(--text-normal);
}

.highlight {
  color: var(--primary-normal);
}

.hover-title {
  font-family: "Pretendard", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 20px;
  color: black;
}

.hover-subtitle {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-alternative);
  margin: 0px;
}

.characters {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 120px;
}

.character {
  text-align: center;
  padding: 0 20px;
}

.character-img-container {
  position: relative;
}

.character img {
  height: 500px;
  border-radius: 10px;
  opacity: 0.3;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}

.character-img-container:hover img {
  opacity: 1;
}

.character p {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: var(--text-alternative);
}

.chat-button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-normal);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 167px;
  height: 64px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out 0.5s, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
}

.login-button {
  /* display: none; */
  border: none;
  background-color: var(--kakao-container);
  color: var(--kakao-label);
  width: 335px;
  height: 50px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.logout-button {
  /* display: none; */
  color: var(--label-alternative);
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.character-img-container:hover .chat-button {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.default-title h1,
.hover-title,
.hover-subtitle {
  animation: fadeIn 0.8s ease-in-out;
}

/* 'Laundry Gothic' 웹폰트 포함 */
@font-face {
  font-family: "Laundry Gothic";
  src: url("fonts/런드리고딕 Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Laundry Gothic";
  src: url("fonts/런드리고딕 Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
