/* chat.css */
@import url("style.css");

.chat-with {
    height: 100%;
    float: left;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-right: 1px solid var(--line-normal);
    padding: 40px 30px;
}

.character-avatar {
    position: relative;
    z-index: 1;
}

.chat-with img {
    width: 104px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px var(--line-normal);
    transition: opacity 0.5s;
    opacity: 0.3;
    z-index: 2;
}

.character-avatar.active img {
    box-shadow: 0px 0px 0px 4px var(--primary-normal);
    opacity: 1;
}

.character-avatar img.flag {
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 40px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.character-avatar.active img.flag {
    opacity: 1;
}

.chat-section {
    height: 100%;
    text-align: center;
}

/* chat-style */

#chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
    max-width: 800px;
    margin: 8vh auto;
    overflow: hidden;
}

#chat-article {
    flex-shrink: 0;
}

#chat-article img {
    float: left;
    margin-right: 60px;
}

.form-container {
    display: flex;
    padding: 12px 12px;
    background: white;
    border: 1px solid var(--line-normal);
    border-radius: 16px;
    margin-top: 60px;
}

#chat-input {
    padding: 10px;
    flex-grow: 10;
    outline: none;
    font-size: 16px;
    border: 0.4px solid rgba(0, 0, 0, 0);
}

#chat-input::placeholder {
    color: #bababa;
}

#send-button {
    border: none;
    cursor: pointer;
    background-color: white;
    /* transition: background-color 0.3s; */
    outline: none;
}

#send-button:disabled {
    cursor: default;
}

/* 채팅 내용 */

#chat-history {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 500px;
}

.message {
    display: flex;
    width: 100%;
    margin-bottom: 10px; /* 메시지 간 간격 */
}

.message.user {
    justify-content: flex-end;
}

.message.assistant {
    justify-content: flex-start;
}

.text-container {
    max-width: 70%; /* 메시지 최대 너비 */
    padding: 12px;
    background-color: white;
    border-radius: 10px; /* 테두리 반경 */
}

.message.user .text-container {
    background-color: #fff; /* 유저 메시지 배경색 */
    color: black;
    text-align: left;
}

.message.assistant .text-container {
    background-color: var(--primary-normal); /* Assistant 메시지 배경색 */
    color: white;
    text-align: left;
}

/* 스크롤바 기본 스타일 */
#chat-history::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    visibility: hidden;
    transition: visibility 0s linear 0.5s;
}

#chat-history::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
}

#chat-history::-webkit-scrollbar-track {
    background: transparent;
}

/* 스크롤하는 동안에만 스크롤바 표시 */
#chat-history:hover::-webkit-scrollbar,
#chat-history:active::-webkit-scrollbar,
#chat-history:focus::-webkit-scrollbar {
    visibility: visible;
    transition-delay: 0s;
}
